.about-features {
	margin-top: 120rem;

	@include to(980px) {
		margin-top: 75rem;
	}

	@include to(580px) {
		margin-top: 30rem;
	}

	&__wrap {
		@include to(768px) {
			flex-wrap: wrap;
		}
	}

	&__cell {
		flex-shrink: 1;
		flex-basis: auto;

		@include to(768px) {
			flex-basis: 100%;
		}

		&_description {
			width: 440rem;
			margin-right: 50rem;
		}

		&_items {
			width: 700rem;

			@include to(768px) {
				margin-top: 50rem;
			}

			@include to(580px) {
				flex-basis: calc(100% + (2 * var(--wrapper-offset)));
				margin: 30rem calc(-1 * var(--wrapper-offset)) 0;
				overflow: hidden;
			}
		}
	}

	&__title {
		color: $dark;
	}

	&__subtitle {
		margin-top: 40rem;
		font-size: 17rem;
		line-height: 1.4;
		color: rgba(0, 30, 66, 0.7);

		@include to(980px) {
			margin-top: 30rem;
		}

		@include to(580px) {
			margin-top: 15rem;
			font-size: 16rem;
		}
	}

	&__items {
		@include from(581px) {
			flex-wrap: wrap;
			@include items(2, 15);
		}

		@include to(580px) {
			overflow: scroll auto;
			padding: 0 var(--wrapper-offset) 30px;
			margin-bottom: -30rem;
		}
	}

	&__item {
		padding: 60rem 40rem 40rem;
		background-color: #f8f9f9;
		min-height: 380rem;

		@include to(980px) {
			min-height: 350rem;
		}

		@include to(580px) {
			padding: 42rem 37rem;
			min-height: 330rem;
			flex: 0 0 303rem;
		}

		&:not(:last-child) {
			@include to(580px) {
				margin-right: 15rem;
			}
		}

		&-preview {
			position: relative;
			width: 100%;
			max-width: 160rem;
			margin: 0 auto;

			@include to(580px) {
				max-width: 140rem;
			}

			&::before {
				content: '';
				display: block;
				padding-top: 100%;
			}
		}

		&-count {
			position: absolute;
			left: -40rem;
			bottom: -18rem;
			font-weight: 500;
			font-size: 80rem;
			line-height: 1.2;
			color: #ff6f3c;
			z-index: 1;

			@include to(580px) {
				left: -46rem;
				bottom: -23rem;
			}
		}

		&-text {
			margin-top: 80rem;
			font-weight: 500;
			font-size: 16rem;
			line-height: 1.2;

			@include to(980px) {
				margin-top: 50rem;
			}
		}
	}
}
