.error {
	position: relative;
	min-height: 100vh;
	padding-top: 235rem;
	background-color: $dark;
	z-index: 1;

	@include to(580px) {
		padding-top: 115rem;
	}

	&__title {
		color: #fff;

		@include to(580px) {
			width: calc(div(170, 382) * 100%);
		}

		@include to(440px) {
			width: calc(div(190, 382) * 100%);
		}
	}

	&__button {
		margin-top: 60rem;

		@include to(980px) {
			margin-top: 45rem;
		}

		@include to(580px) {
			margin-top: 30rem;
		}
	}

	&__background {
		img {
			z-index: -1;
		}
	}
}
