.hero {
	position: relative;
	padding: 375rem 0 50rem;

	@include to(980px) {
		padding: 255rem 0 45rem;
	}

	@include to(580px) {
		padding: 135rem 0 35rem;
	}

	&__label {
		&-icon {
			flex: 0 0 auto;
			width: 15rem;
			height: 16rem;
			margin-right: 10rem;
			fill: $orange;

			@include to(580px) {
				width: 10rem;
				height: 12rem;
				margin-right: 14rem;
			}
		}

		&-text {
			line-height: 1.45;
			color: #ffffff;

			@include to(580px) {
				font-size: 14rem;
			}
		}
	}

	&__title {
		width: 100%;
		margin-top: 20rem;
		color: #fff;

		@include from(981px) {
			max-width: 885rem;
		}

		@include to(580px) {
			margin-top: 12rem;
		}
	}

	&__box {
		margin-top: 80rem;
		padding: 56rem 40rem 48rem;
		background: #ffffff;
		box-shadow: 0px 4px 56px rgba(0, 30, 66, 0.08);
		border-radius: 12rem;

		@include to(980px) {
			padding: 40rem 33rem 39rem;
			margin-top: 50rem;
		}

		@include to(768px) {
			flex-wrap: wrap;
		}

		@include to(580px) {
			padding: 30rem 24rem;
			margin-top: 20rem;
		}

		&-icon {
			flex: 0 0 auto;
			width: 32rem;
			margin: 0 22rem;
			fill: $orange;

			@include to(768px) {
				margin: 20rem auto;
				width: 44rem;
			}

			@include to(580px) {
				margin-top: 10rem;
				margin-bottom: 10rem;
				width: 32rem;
			}

			svg {
				width: 32rem;

				@include to(768px) {
					width: 44rem;
				}

				@include to(580px) {
					width: 32rem;
				}
			}
		}
	}

	&__select {
		flex: 0 1 447rem;

		@include to(980px) {
			flex-basis: 200rem;
			flex-grow: 1;
		}

		@include to(768px) {
			flex-basis: 100%;
		}

		&:nth-child(1) {
			z-index: 2;
		}

		&:nth-child(3) {
			z-index: 1;
		}
	}

	&__button {
		align-self: flex-end;
		flex: 0 1 auto;
		width: 280rem;
		margin-left: 40rem;

		@include to(980px) {
			margin-left: 20rem;
			width: 300rem;
		}

		@include to(768px) {
			margin: 20rem auto 0;
			width: 100%;
		}
	}

	&__text {
		margin-top: 90rem;
		font-size: 16rem;
		line-height: 1.2;
		color: #ffffff;

		@include to(980px) {
			margin-top: 55rem;
		}

		@include to(580px) {
			font-size: 14rem;
			margin-top: 20rem;
		}
	}

	&__background {
		&-photo {
			z-index: -1;
		}
	}
}
