.service-hero {
	position: relative;
	padding: 235rem 0;

	@include to(980px) {
		padding: 190rem 0 150rem;
	}

	@include to(580px) {
		padding: 140rem 0 70rem;
	}

	&__wrap {
		position: relative;
		z-index: 1;
	}

	&__block {
		width: 100%;
		max-width: 670rem;
		color: #fff;
	}

	.breadcrumbs {
		margin-top: 0;

		&__wrap {
			padding: 0;
		}
	}

	&__title {
		margin-top: 60rem;

		@include to(980px) {
			margin-top: 40rem;
		}

		@include to(580px) {
			margin-top: 16rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		margin-top: 40rem;
		font-size: 17rem;
		line-height: 1.45;

		@include to(980px) {
			margin-top: 30rem;
		}

		@include to(580px) {
			width: calc(div(367, 384) * 100%);
			font-size: 16rem;
			margin-top: 16rem;
		}
	}

	&__button {
		margin-top: 60rem;
		font-weight: 500;

		@include to(980px) {
			margin-top: 44rem;
		}

		@include to(580px) {
			margin-top: 24rem;
			padding: 17rem 32rem;
		}

		.button__icon {
			margin-right: 40rem;
		}
	}
}
