mixin round-arrow(data = {})
	if data.isScroller
		+e.BUTTON.round-arrow.round-arrow__.js-scroll-top&attributes(attributes)
			+icon('arrowDown', '0 0 24 24')
	else
		+e.round-arrow.round-arrow__&attributes(attributes)
			+icon('arrowDown', '0 0 24 24')
