mixin slider-buttons(data = {})
	+e.slider-buttons.slider-buttons__.flex&attributes(attributes)
		+e.BUTTON.button._prev(class=`${data.mode ? `${data.mode.join(" _")}` : ''} js-slider-prev-btn`)
			+icon('arrowSlider', '0 0 32 32')
		+e.BUTTON.button._next(class=`${data.mode ? `${data.mode.join(" _")}` : ''} js-slider-next-btn`)
			+icon('arrowSlider', '0 0 32 32')
