extends ../layouts/layout.pug

block append vars
	- title = 'Главная страница';

block content
	include ../layouts/hero
	include ../layouts/types
	include ../layouts/additional-services
	include ../layouts/map
	include ../layouts/main-features
	include ../layouts/main-news
	include ../layouts/lead
