extends ../layouts/layout.pug

block append vars
	- title = 'Мультимодальные перевозки';

block content
	include ../layouts/service-hero
	include ../layouts/service-info
	include ../layouts/service-features
	include ../layouts/service-calculation
	include ../layouts/lead
