h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.h1,
.content h1 {
	font-size: 52rem;
	line-height: 1.2;
	letter-spacing: 0;

	@include to(980px) {
		font-size: 42rem;
	}

	@include to(580px) {
		font-size: 32rem;
	}
}

.h2,
.content h2 {
	font-size: 40rem;
	line-height: 1.1;

	@include to(980px) {
		font-size: 34rem;
	}

	@include to(580px) {
		font-size: 28rem;
	}
}

.h3,
.content h3 {
	font-size: 32rem;
	line-height: 1.2;

	@include to(980px) {
		font-size: 30rem;
	}

	@include to(580px) {
		font-size: 28rem;
	}
}
