-
	var mainServicesData = {
		title: 'Дополнительные услуги компании',

		subtitle: 'Кроме собственно доставки вашего груза, мы также готовы предложить дополнительные услуги',

		items: [
			'Крановые работы',
			'Погрузо-разгрузочные работы',
			'Такелажные работы',
			'Упаковка',
			'Курьерские услуги',
			'Погрузо-разгрузочные работы',
			'Упаковка',
			'Консолидация груза',
			'Маркировка',
			'Возврат  документов',
			'Получение/доставка от/до склада грузоотправителя',
		],
	};

+b.SECTION.main-services
	+e.wrap.wrap.flex._justify._start
		+e.cell._description
			+e.H2.title.h2.js-reveal-slideUp #{ mainServicesData.title }
			+e.subtitle.js-reveal-slideUp #{ mainServicesData.subtitle }
		+e.cell._items.flex._vertical._row._wrap
			each item in mainServicesData.items
				+e.A.item.js-reveal-fadeIn(href='/services.html') #{ item }
