-
	var serviceCallbackData = {
		title: 'Оставьте заявку',

		fields: [
			{
				mode: '_name',
				label: 'Ваше имя',
				type: 'text',
				name: 'name',
				placeholder: 'Представьтесь',
			},
			{
				isSelect: true,
				label: 'Необходимая услуга',
				placeholder: 'Выберите услугу',
				inputName: 'service',
				options: [
					'Крановые работы',
					'Курьерские услуги',
					'Маркировка',
					'Такелажные работы',
					'Упаковка груза',
					'Возврат  оригиналов документов ',
					'Погрузо-разгрузочные работы',
					'Консолидация груза',
					'Внутритарный учет',
					'Крепление груза',
					'Сортировка',
					'Доставка до склада грузоотправителя',
				],
			},
			{
				mode: '_tel',
				label: 'Телефон',
				type: 'tel',
				inputmode: 'tel',
				name: 'tel',
				placeholder: 'Укажите номер телефона',
			},
			{
				mode: '_email',
				label: 'E-mail',
				type: 'email',
				inputmode: 'email',
				name: 'email',
				placeholder: 'Укажите email',
			},
			{
				mode: '_organization-name',
				label: 'Наименование организации',
				type: 'text',
				name: 'organization_name',
				placeholder: 'ООО Название организации',
			},
			{
				mode: '_textarea',
				label: 'Детали',
				name: 'details',
				placeholder: 'Дополнительные характеристики груза, комментариик перевозке, особенности маршрута',
				isTextarea: true,
			},
		],

		button: {
			icon: {
				name: 'arrowRight',
				viewBox: '0 0 12 12',
			},
		},
	};

+b.SECTION.service-callback
	+e.wrap.wrap
		+e.H2.title.h3.text-center.js-reveal-fadeIn #{ serviceCallbackData.title }
		+e.FORM.form.js-form(action='#')
			+e.fields.flex._row._wrap
				each item, index in serviceCallbackData.fields
					if item.isSelect
						+select(item).js-reveal-slideUp
					else
						+field(item).js-reveal-slideUp
			+e.form-footer.flex._start._justify
				+e.policy.js-reveal-fadeIn
					| Нажимая кнопку «Отправить» вы принимаете условия&nbsp;
					a(href='#') Политики конфиденциальности&nbsp;
					| и&nbsp;
					a(href='#') Обработки персональных данных
				+button(serviceCallbackData.button).js-reveal-fadeIn
					| Заказать
