.autocomplete {
	display: none;
	opacity: 0;
	padding: 40rem 10rem 24rem;
	max-height: 464rem;
	border-radius: 0 0 8px 8px;
	position: absolute;
	left: 0;
	top: calc(100% - 20rem);
	width: 100%;
	border: 1px solid #cfdbe3;
	border-top: unset;
	background-color: #fff;
	overflow-y: auto;
	z-index: 2;
	transform: translateY(50rem);

	@include to(980px) {
		max-height: 300rem;
	}

	@include to(580px) {
		padding: 35rem 10rem 16rem;
		max-height: 300rem;
	}

	&_transparent {
		border-color: #4c616d;
		background-color: $dark;
	}

	&__wrap {
		width: 100%;
		padding: 0 10rem;
	}

	&__item {
		cursor: pointer;
		font-size: 17rem;
		line-height: div(20, 17);
		color: #001e42;
		transition: color 0.3s linear;

		@include to(580px) {
			font-size: 15rem;
		}

		&:not(:last-child) {
			margin-bottom: 24rem;

			@include to(580px) {
				margin-bottom: 16rem;
			}
		}

		.autocomplete_transparent & {
			color: #fff;
		}

		&:not(.is-active) {
			&:hover {
				color: rgba(0, 30, 66, 0.4);

				.autocomplete_transparent & {
					color: rgba(255, 255, 255, 0.65);
				}
			}
		}

		&.is-active {
			color: #ff6f3c;
		}
	}
}
