.header {
	padding-top: 30rem;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
	transition: background-color 0.3s linear, padding 0.3s linear, box-shadow 0.3s linear;

	@include to(580px) {
		padding-top: 24rem;
	}

	&.is-opened {
		background-color: $dark;

		&.header_light {
			background-color: #fff;
		}
	}

	&.is-sticked {
		background-color: $dark;
		padding: 15rem 0;

		@include to(580px) {
			padding: 12rem 0;
		}

		&.header_light {
			box-shadow: 0px 4px 56px rgba(0, 30, 66, 0.08);
			background-color: #fff;
		}
	}

	&__row {
		&:not(:last-child) {
			@include from(581px) {
				margin-bottom: 28rem;
			}

			@include to(580px) {
				padding-bottom: 16rem;
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);

				.header_light & {
					border-color: rgba(20, 45, 59, 0.2);
				}
			}
		}

		&_menu {
			@include to(580px) {
				flex-wrap: wrap;
				align-content: flex-start;
				display: none;
				opacity: 0;
				position: fixed;
				top: 80rem;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 24rem 15rem;
				background-color: #142d3b;
				overflow: hidden auto;

				.header_light & {
					background-color: #fff;
				}
			}
		}
	}

	&__logo {
		flex: 0 0 auto;
		margin-right: auto;

		@include from(581px) {
			width: 224rem;
		}

		&-img {
			@include to(580px) {
				display: none;
			}
		}

		&-text {
			font-weight: 700;
			font-size: 21rem;
			line-height: div(24, 21);
			color: #ffffff;
			letter-spacing: 0;
			transition: color 0.3s linear;

			.header_light & {
				color: $dark;
			}

			&:hover {
				color: $orange;
			}

			@include from(581px) {
				display: none;
			}
		}
	}

	&__phone {
		margin-right: 36rem;
		font-size: 18rem;
		line-height: div(21, 18);
		letter-spacing: -0.02em;
		color: #ffffff;
		transition: color 0.3s linear;

		@include to(980px) {
			margin-right: 20rem;
		}

		@include to(580px) {
			display: none;
		}

		.header_light & {
			color: #142d3b;
		}

		&:hover {
			color: $orange;
		}
	}

	&__callback {
		margin-right: 10rem;
		padding: 11rem 20rem 13rem;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 100px;
		font-weight: 500;
		font-size: 14rem;
		line-height: div(16, 14);
		color: #ffffff;
		transition: border 0.3s linear, background-color 0.3s linear, color 0.3s linear;

		@include to(580px) {
			padding: 13rem 18rem;
			font-size: 12rem;
			line-height: div(14, 12);
		}

		.header_light & {
			border-color: rgba(20, 45, 59, 0.2);
			color: #142d3b;

			&:hover {
				color: #fff;
			}
		}

		&:hover {
			background-color: $orange;
			border-color: $orange;
		}
	}

	&__menu-button {
		position: relative;
		width: 40rem;
		height: 40rem;
		padding: 14rem 12rem;
		padding: 10rem 12rem;
		flex-flow: column nowrap;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 100%;
		@extend %flex-center;

		@include from(581px) {
			display: none;
		}

		.header_light & {
			border-color: rgba(20, 45, 59, 0.2);
		}

		&::before,
		&::after,
		span {
			display: block;
			width: 16rem;
			height: 2px;
			pointer-events: none;
			background-color: #fff;
			border-radius: 100px;
			transition: all 0.3s linear;

			.header_light & {
				background-color: #142d3b;
			}
		}

		&::before,
		&::after {
			content: '';
		}

		span {
			margin: 3rem 0;
		}

		.is-opened & {
			&::before {
				transform: translate(0, 5rem) rotate3d(0, 0, 1, 45deg);
			}

			&::after {
				transform: translate(0, -5rem) rotate3d(0, 0, 1, -45deg);
			}

			span {
				transform: scale(0);
			}
		}
	}

	&__block {
		flex: 1;

		@include from(581px) {
			&.js-header-subblock-trigger {
				cursor: pointer;
				padding-bottom: 20rem;
				margin-bottom: -20rem;
			}
		}

		@include to(580px) {
			flex-basis: 100%;
		}

		&:not(:last-child) {
			@include from(581px) {
				margin-right: 28rem;
			}

			@include to(580px) {
				margin-bottom: 20rem;
			}
		}

		&.is-opened {
			.header__link {
				stroke: #fff;

				&::before {
					width: 100%;
				}

				.header_light & {
					border-color: $dark;
					stroke: $dark;
					color: $dark;
				}

				svg {
					transform: rotate(180deg);
				}
			}
		}

		&:not(.is-opened) {
			.header__link {
				&:not(.is-active) {
					&:hover {
						&::before {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__link {
		position: relative;
		padding-top: 14rem;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		font-weight: 400;
		font-size: 17rem;
		line-height: div(20, 17);
		color: #ffffff;
		fill: transparent;
		stroke: rgba(255, 255, 255, 0.4);
		stroke-width: 1.5;
		stroke-linecap: round;
		stroke-linejoin: round;
		transition: color 0.3s linear, border 0.3s linear, stroke 0.3s linear;

		@include to(580px) {
			padding-top: 18rem;
			font-size: 16rem;
			line-height: div(19, 16);
		}

		&::before {
			content: '';
			position: absolute;
			top: -1px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: #fff;
			transition: width 0.3s ease-in-out;

			.header_light & {
				background-color: $dark;
			}
		}

		.header_light & {
			color: $dark;
			stroke: rgba(20, 45, 59, 0.4);
			border-color: rgba(20, 45, 59, 0.2);
		}

		&.is-active {
			&::before {
				width: 100%;
			}

			.header_light & {
				&::before {
					width: 100%;
				}
			}
		}

		&-text {
			flex: 1;
		}

		&-icon {
			flex: 0 0 auto;
			width: 16rem;
			margin-left: 10rem;

			svg {
				transition: transform 0.3s linear;
			}
		}
	}

	&__subblock {
		cursor: default;
		background-color: #ffffff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0px 4px 56px rgba(0, 30, 66, 0.08);
		display: none;
		transform: translateY(40rem);
		opacity: 0;

		@include from(581px) {
			position: absolute;
			top: calc(100% + 20rem);
			left: 0;
			width: 100%;
			height: 350rem;
			padding: 22rem 0;
			transition: top 0.3s linear;

			.is-sticked & {
				top: 100%;
			}
		}

		@include to(580px) {
			width: calc(100% + (2 * var(--wrapper-offset)));
			margin: 18rem calc(-1 * var(--wrapper-offset)) 0;
			padding: 27rem 0 17rem;

			.header_light & {
				box-shadow: unset;
				border-bottom: 1px solid rgba(20, 45, 59, 0.2);
				border-top: 1px solid rgba(20, 45, 59, 0.2);
			}
		}
	}

	&__tabs {
		border-bottom: 1px solid rgba(20, 45, 59, 0.2);
	}

	&__tab {
		position: relative;
		padding-bottom: 15rem;
		font-weight: 500;
		font-size: 22rem;
		line-height: div(25, 22);
		color: rgba(20, 45, 59, 0.4);
		transition: color 0.3s linear;

		@include to(580px) {
			font-size: 18rem;
			line-height: div(21, 18);
		}

		&:hover {
			color: $orange;
		}

		&:not(:last-child) {
			margin-right: 40rem;

			@include to(980px) {
				margin-right: 30rem;
			}

			@include to(580px) {
				margin-right: 20rem;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 2px;
			background-color: #142d3b;
			opacity: 0;
			transition: opacity 0.3s linear;
		}

		&.is-active {
			color: $dark;

			&::before {
				opacity: 1;
			}
		}
	}

	&__content {
		margin-top: 32rem;

		@include to(980px) {
			margin-top: 24rem;
		}

		@include to(580px) {
			margin-top: 16rem;
		}
	}

	&__tab-item {
		display: flex;

		@include to(580px) {
			flex-flow: column nowrap;
		}
	}

	&__item {
		flex: 1;
		font-size: 17rem;
		line-height: 1.4;
		color: #142d3b;

		@include to(580px) {
			font-size: 16rem;
			flex-basis: 100%;
		}

		&:not(:last-child) {
			@include from(581px) {
				margin-right: 20rem;
			}

			@include to(580px) {
				margin-bottom: 20rem;
			}
		}

		&-label {
			font-weight: 400;
			transition: color 0.3s linear;

			&:hover {
				color: $orange;
			}

			&:not(:first-child) {
				margin-top: 14rem;
			}
		}

		&-links {
			padding: 14rem 0 0 16rem;
		}

		&-link {
			color: rgba(#142d3b, 0.6);
			transition: color 0.3s linear;

			&:not(:last-child) {
				margin-bottom: 14rem;
			}

			&:hover {
				color: $orange;
			}
		}
	}
}
