.popup {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20rem 15rem;
	z-index: 100;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(20, 45, 59, 0.9);
	}

	&__wrap {
		padding: 40rem 40rem 56rem;
		position: relative;
		width: 100%;
		height: auto;
		max-height: 100%;
		margin: auto;
		background-color: #ffffff;
		box-shadow: 0px 4px 56px rgba(0, 30, 66, 0.08);
		border-radius: 12px;
		overflow: hidden auto;
		transform: translateY(-100%);

		@include to(580px) {
			padding: 24rem 24rem 27rem;
		}

		.popup_callback & {
			max-width: 700rem;
		}

		.popup_service & {
			max-width: 1140rem;
		}
	}

	&__close {
		position: absolute;
		top: 16rem;
		right: 16rem;
		width: 40rem;
		height: 40rem;
		border-radius: 100%;
		fill: $dark;
		background: rgba(20, 45, 59, 0.08);
		transition: fill 0.3s linear;

		@extend %flex-center;

		svg {
			width: 34rem;
			height: 34rem;
			pointer-events: none;
		}

		&:hover {
			fill: $orange;
		}
	}

	&__title {
		color: $dark;
	}

	&__subtitle {
		margin-top: 24rem;
		font-size: 17rem;
		line-height: 1.4;
		color: rgba(0, 30, 66, 0.7);

		@include to(580px) {
			margin-top: 8rem;
			font-size: 14rem;
		}

		.popup_callback & {
			width: 100%;
			max-width: 550rem;

			@include to(580px) {
				max-width: calc(div(293, 336) * 100%);
			}
		}
	}

	&__form {
		margin-top: 42rem;

		@include to(580px) {
			margin-top: 20rem;
		}

		&-footer {
			margin-top: 40rem;

			@include to(980px) {
				margin-top: 30rem;
			}

			@include to(580px) {
				margin-top: 20rem;
				flex-wrap: wrap;
			}
		}
	}

	&__fields {
		.popup_callback & {
			@include items(1, 16);

			@include to(980px) {
				@include items(1, 12);
			}
		}

		.popup_service & {
			@include items(2, 14);

			@include to(580px) {
				@include items(1, 12);
			}
		}
	}

	&__field {
		.popup_service & {
			&.field {
				@include from(581px) {
					&_organization-name {
						@include item-self(1, 14, false);
					}

					&_textarea {
						@include item-self(1, 14, false);
					}
				}
			}
		}
	}

	&__changing-button {
		&.changing-button {
			@include from(1px) {
				margin-top: -8rem;
				margin-left: auto;
				width: auto;
			}
		}
	}

	&__select {
		z-index: 5;

		.select {
			&__options-outer {
				max-height: 270rem;

				@include to(580px) {
					max-height: 210rem;
				}
			}

			&__head {
				padding: 16rem 20rem;

				@include to(580px) {
					padding: 12rem 19rem;
				}

				&-value {
					font-size: 20rem;
					line-height: div(23, 20);

					@include from-to(581px, 1120px) {
						font-size: 23rem;
					}

					@include to(580px) {
						font-size: 18rem;
						line-height: div(21, 18);
					}
				}
			}
		}
	}

	&__policy {
		flex-shrink: 1;
		flex-grow: 0;
		font-size: 15rem;
		line-height: 1.4;
		color: rgba(20, 45, 59, 0.4);

		@include to(580px) {
			flex-basis: 100%;
			order: 2;
			font-size: 12rem;
		}

		.popup_callback & {
			@include from(581px) {
				flex-basis: 300rem;
			}
		}

		.popup_service & {
			@include from(581px) {
				flex-basis: 520rem;
			}
		}

		a {
			text-decoration-line: underline;
			color: rgba(20, 45, 59, 0.7);
			transition: color 0.3s linear;

			&:hover {
				color: $orange;
			}
		}
	}

	&__button {
		flex: 0 0 230rem;
		margin-left: 20rem;
		padding: 26rem 32rem;

		@include to(580px) {
			padding: 18rem 33rem 16rem;
			flex-basis: 100%;
			margin: 0 0 10rem 0;
		}

		.button {
			&__icon {
				margin-right: 75rem;

				@include to(580px) {
					margin-right: 20rem;
				}
			}

			&__text {
				@include to(580px) {
					margin: 0 auto;
				}
			}
		}
	}
}
