.select {
	position: relative;
	width: 100%;
	height: 100%;

	&__head {
		cursor: pointer;
		position: relative;
		border-radius: 8px;
		padding: 11rem 20rem;
		width: 100%;
		border: 1px solid #cfdbe3;
		z-index: 3;
		user-select: none;
		transition: border 0.3s linear;

		.select_transparent & {
			border-color: #fff;
			background-color: $dark;
		}

		.select_transparent.is-opened & {
			border-color: $orange;
		}

		.is-opened & {
			border-color: $orange;
		}

		&-label {
			position: absolute;
			top: -10rem;
			left: 14rem;
			background-color: #fff;
			padding: 0 6rem;
			z-index: 1;
			font-size: 15rem;
			line-height: div(17, 15);
			color: rgba(0, 30, 66, 0.4);
			letter-spacing: 0;
			transition: color 0.3s linear;

			.select_transparent & {
				color: #fff;
				background-color: $dark;
			}

			.is-opened & {
				color: $dark;
			}
		}

		&-value {
			font-size: 18rem;
			line-height: div(21, 18);
			color: rgba(0, 30, 66, 0.2);
			flex: 1;
			pointer-events: none;
			@extend %text-overflow;

			.is-filled & {
				color: #001e42;
			}

			.select_transparent & {
				color: rgba(255, 255, 255, 0.3);
			}

			.select_transparent.is-filled & {
				color: #fff;
			}
		}

		&-arrow {
			pointer-events: none;
			flex: 0 0 auto;
			width: 40rem;
			height: 40rem;
			margin-left: 10rem;
			fill: transparent;
			stroke: $orange;
			stroke-width: 1;
			transition: transform 0.3s linear;

			@include to(580px) {
				width: 30rem;
				height: 30rem;
			}

			.is-opened & {
				transform: rotate(180deg);
				transition: transform 0.3s linear;
			}
		}
	}

	&__options {
		width: 100%;
		padding: 0 10rem;

		&-outer {
			display: none;
			opacity: 0;
			padding: 40rem 10rem 24rem;
			max-height: 464rem;
			border-radius: 0 0 8px 8px;
			position: absolute;
			left: 0;
			top: calc(100% - 20rem);
			width: 100%;
			border: 1px solid #cfdbe3;
			border-top: unset;
			background-color: #fff;
			overflow-y: auto;
			z-index: 2;
			transform: translateY(50rem);

			@include to(980px) {
				max-height: 300rem;
			}

			@include to(580px) {
				padding: 35rem 10rem 16rem;
				max-height: 300rem;
			}

			.select_transparent & {
				background-color: $dark;
				color: rgba(255, 255, 255, 0.3);
			}
		}
	}

	&__option {
		cursor: pointer;
		font-size: 17rem;
		line-height: div(20, 17);
		color: #001e42;
		transition: color 0.3s linear;

		@include to(580px) {
			font-size: 15rem;
		}

		&:not(:last-child) {
			margin-bottom: 24rem;

			@include to(580px) {
				margin-bottom: 16rem;
			}
		}

		&:not(.is-active) {
			&:hover {
				color: rgba(0, 30, 66, 0.4);
			}
		}

		&.is-active {
			color: #ff6f3c;
			transition: color 0.3s linear;
		}
	}
}
